# Toggle mock data simulation (true/false)
VITE_USE_MOCK_DATA=true

# Production or Local Backend API HTTP endpoint
VITE_BACKEND_HTTP_URL=http://localhost:8000

# Production or Local Backend API WebSocket endpoint
VITE_BACKEND_WS_URL=ws://localhost:8000
